h1 {
    margin: 0;
}

h2, h3, h4, h5, h6 {
    display: block;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .partner-logo {
        margin: 2%;
        min-width: 140px;
        width: 12%;
        height: auto;

        img {
            border-radius: 20px;
        }
    }
}